.blogpage{
    width: 100vw;
    // padding-left: 20vw;
    .navbar {
        width: 100vw;
        background: #151515;
        height: 50px;
        position: sticky;
        display: flex;
        top:0;
        z-index: 1;
        .topLeft, .topRight {
            flex: 3;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .topIcon {
            font-size: 20px;
            margin-right: 10px;
            color: #fb7e14;
            cursor: pointer;
        }
        .topImage {
            width: 40px;
            height:40px;
            border-radius: 50%;
            object-fit: cover;
        }
        .topCenter {

            flex: 6;
            .navBarLinks {
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0;
                list-style: none;
                .navBarLink {
                    text-transform: uppercase;
                    color: #fb7e14;
                    margin: 20px;
                    margin-top: 15px;
                    font-size: 18px;
                    font-weight: 300;
                    cursor: pointer;
                }
            }
        }
        .topSearchIcon {
            font-size: 18px;
            color: #fb7e14;
            margin-left: 15px;
            cursor: pointer;
        }
    }
}