.header {
    .headerWrapper {
        display: grid;
        grid-template: 1fr / 1fr;
        place-items: center;
        .text {
            z-index: 2;
            font-family: Indie Flower;
            font-weight: 700;
            font-size: 48px;
        }
    }
    .headerWrapperer > * {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
      }
      .headerWrapper .top {
        z-index: 1;
      }
}