
main {
    background: #dfdfdf;
    width: 100vw;
    margin: 0px;
    font-family: 'fira sans';
}
html, body {
    width: 100vw;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}

@import "./blog/sidebar.scss";
@import "./blog/header.scss";
@import "./blog/page.scss";
@import "./blog/post.scss";
@import "./const.scss";
@import "./blog/footer.scss";
