.header {
    align-items: center;
    .logo {
        left: 0; 
        right: 0; 
        position: absolute;
        margin-left: auto; 
        margin-right: auto; 
        width: 500px; /* Need a specific value to work */

     // .text {
        //     z-index: 2;
        //     font-family: Indie Flower;
        //     font-weight: 700;
        //     font-size: 48px;
        // }
    }
    // .headerWrapperer > * {
    //     grid-column: 1 / 1;
    //     grid-row: 1 / 1;
    //   }
    //   .headerWrapper .top {
    //     z-index: 1;
    //   }
    .backdrop {   
        margin-top: 100px;
        width: 100vw;
        height: 450px;
        object-fit: cover;
    }
}
