main {
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 100px [five] 100px [end];
  grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}
body {
  margin: 0;
  overflow: hidden;
}

.coming-soon {
  background : #000;
  color: #FB7E14;
  grid-column: 1 / span 3;
  grid-row: row1 / 4;
}

.twitter-feed{
  width:20%;
  grid-area: 1 / col4-start / last-line / 6;

  }

.timeline-Header {
  DISPLAY:NONE;
  }

.coming-soon,h1 {
  color: #151515;
  text-align: center;
  font-family: 'fira sans';
  
  /* top: 50%; */
  font-size: 45px;
}

img {
  top: -10%;
  padding-bottom: -90px;
  /* place-self: center; */
  /* align-self: inherit; */
  /* position: absolute; */
  margin: auto;
}

@media (max-width: 505px) {  
    .twitter-feed { 
      display: none;
    }

    body {
      overflow:hidden;
    }

    img {
      top: 0;
      /* left: 20px; */
      width: 400px;
      margin: 0  auto;
      /* place-self: center; */
      /* align-self: inherit; */
      /* position: absolute; */
    }

    .coming-soon {
      height: 100vh;
      background : #000;
    }
    
    .coming-soon,h1 {
      color: #151515;
      text-align: center;
      font-size: 32px;
    }

    main {
      display: inline;
      align-content: center;
      /* box-sizing: border-box; */
      /* display: grid; */
      font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
      -webkit-hyphens: auto;
      overflow: hidden;
      hyphens: auto;
      /* line-height: 1.65; */
      margin: 0 auto;
      width:400px;
      height: 100%;
      /* padding: 72px0; */
      text-align: center;
    }
  }

  @media (max-width: 320px) {
    main {
      display: inline;
    }

    .coming-soon {
      height: 100vh;
    } 

    .twitter-feed { 
      display: none;
    }

    img {
      width:250px;
    }

    .coming-soon,h1 {
      font-size: 18px;
    }
  }

  @media (max-width: 375px) {
    main {
      display: inline;
    }

    .coming-soon {
      height: 100vh;
    } 

    .twitter-feed { 
      display: none;
    }
    
    img {
      width:300px;
    }
  }