main {
  align-content: center;
  /* box-sizing: border-box; */
  /* display: grid; */
  -webkit-hyphens: auto;
  hyphens: auto;
  /* line-height: 1.65; */
  margin: 0 auto;
  max-width: 100vw;
  min-height: 100vh;
  /* padding: 72px0; */
  text-align: center;
}
h1 {
  font-size: 45px;
}
h2 {
  margin-top: 1.5em;
}
p {
  font-size: 16px;
}
a {
  border-bottom: 1px solid white;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  border-bottom: 1px solid #0076ff;
}
code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: '\`';
}

.coming-soon {
  background : #000;
  color: #FB7E14;
  width: 100%;
  height: 100%;
}

.coming-soon,h1 {
  color: #151515;
  text-align: center;
  font-family: 'fira sans';
  
  /* top: 50%; */
  font-size: 45px;
}
img {
  top: -10%;
  padding-bottom: -90px;
  /* place-self: center; */
  /* align-self: inherit; */
  /* position: absolute; */
  margin: auto;}

  @media (max-width: 505px) {
    body {
      overflow:hidden;
    }
    img {
      top: 0;
      /* left: 20px; */
      width: 400px;
      margin: 0  auto;
      /* place-self: center; */
      /* align-self: inherit; */
      /* position: absolute; */
    }

      .coming-soon {
        background : #000;
      }
      
      .coming-soon,h1 {
        color: #151515;
        text-align: center;
        font-size: 32px;
      }
    main {
      align-content: center;
      /* box-sizing: border-box; */
      /* display: grid; */
      font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
      -webkit-hyphens: auto;
      overflow: hidden;
      hyphens: auto;
      /* line-height: 1.65; */
      margin: 0 auto;
      width:400px;
      height: 100%;
      /* padding: 72px0; */
      text-align: center;
    }
  }

  @media (max-width: 320px) {
    img {
      width:250px;
    }
    .coming-soon,h1 {
      font-size: 18px;
    }
  }

  @media (max-width: 375px) {
    img {
      width:300px;
    }
  }